.idea
.git/
.gitignore
.dockerignore
Dockerfile
build_docker.sh
*.md
*.sh
*.yml
saves/
plots/

**/.git/

**/*.tar.gz/
src/dataset/lra_benchmarks/lra_pytorch/datasets/
**/__pycache__/
*.pyc
**/*.pkl
*.model
**/*.pth*
**/*.pth
**/saves
**/cache/
**/.vscode/
**/*.zip
**/dataset/squad2/*.json
**/saves/*
**/saves
**/cache
**/pretrained/
**/logs/
**/*.log
**/saves.bak/
**/output*.txt

**/saves/
**/cache/
**/**/.torch/
**/wandb/

**/*.csv

**/src/utils/secrets.*
**/plots/